In [1]:
import pandas as pd

In [2]:
p = pd.read_csv('penguins_size.csv')
p

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [3]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [4]:
p.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [5]:
p.isna().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [6]:
p = p.dropna()
p.isna().sum().any()

False

In [7]:
print(p['species'].unique())
print(p['island'].unique())
print(p['sex'].unique())

['Adelie' 'Chinstrap' 'Gentoo']
['Torgersen' 'Biscoe' 'Dream']
['MALE' 'FEMALE' '.']

In [32]:
p.query("sex == '.'")

Empty DataFrame
Columns: [species, island, culmen_length_mm, culmen_depth_mm, flipper_length_mm, body_mass_g, sex]
Index: []

In [11]:
newisland = {'Torgersen': 0, 'Biscoe': 1, 'Dream': 2}
newspecies = {'Adelie': 0, 'Chinstrap': 1, 'Gentoo': 2}
newsex = {'MALE': 0, 'FEMALE': 1, '.': 3}

In [12]:
for c in p['species']:
    p['species'] = p['species'].replace(newspecies)
for d in p['island']:
    p['island'] = p['island'].replace(newisland)
for e in p['sex']:
    p['sex'] = p['sex'].replace(newsex)

C:\Users\sidal\AppData\Local\Temp\ipykernel_5700\2317177100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['species'] = p['species'].replace(newspecies)
C:\Users\sidal\AppData\Local\Temp\ipykernel_5700\2317177100.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['island'] = p['island'].replace(newisland)
C:\Users\sidal\AppData\Local\Temp\ipykernel_5700\2317177100.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p['sex'] = p['sex'].replace(newsex)

In [13]:
p

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,0,39.1,18.7,181.0,3750.0,0
1,0,0,39.5,17.4,186.0,3800.0,1
2,0,0,40.3,18.0,195.0,3250.0,1
4,0,0,36.7,19.3,193.0,3450.0,1
5,0,0,39.3,20.6,190.0,3650.0,0
...,...,...,...,...,...,...,...
338,2,1,47.2,13.7,214.0,4925.0,1
340,2,1,46.8,14.3,215.0,4850.0,1
341,2,1,50.4,15.7,222.0,5750.0,0
342,2,1,45.2,14.8,212.0,5200.0,1
343,2,1,49.9,16.1,213.0,5400.0,0

In [14]:
p.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    int64
 1   island             334 non-null    int64
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 20.9 KB

Logistic Regression

In [17]:
X = p.drop('sex', axis = 1)
y = p['sex']

In [18]:
X

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,0,0,39.1,18.7,181.0,3750.0
1,0,0,39.5,17.4,186.0,3800.0
2,0,0,40.3,18.0,195.0,3250.0
4,0,0,36.7,19.3,193.0,3450.0
5,0,0,39.3,20.6,190.0,3650.0
...,...,...,...,...,...,...
338,2,1,47.2,13.7,214.0,4925.0
340,2,1,46.8,14.3,215.0,4850.0
341,2,1,50.4,15.7,222.0,5750.0
342,2,1,45.2,14.8,212.0,5200.0
343,2,1,49.9,16.1,213.0,5400.0

In [19]:
y

0      0
1      1
2      1
4      1
5      0
      ..
338    1
340    1
341    0
342    1
343    0
Name: sex, Length: 334, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [21]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=0).fit(X_train, y_train)
ypred = lr.predict(X_test)
ypred

C:\Users\sidal\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       1], dtype=int64)

In [25]:
scorelr = lr.score(X_test, y_test)
scorelr

0.8468468468468469

In [27]:
from sklearn.metrics import accuracy_score
acclr = accuracy_score(ypred, y_test)
acclr

0.8468468468468469

In [34]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, ypred)
cm

array([[52,  5],
       [12, 42]], dtype=int64)

In [37]:
from sklearn.metrics import classification_report
classification_report(y_test, ypred)

'              precision    recall  f1-score   support\n\n           0       0.81      0.91      0.86        57\n           1       0.89      0.78      0.83        54\n\n    accuracy                           0.85       111\n   macro avg       0.85      0.85      0.85       111\nweighted avg       0.85      0.85      0.85       111\n'