In [1]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('dadoshistoricos.csv')
data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [3]:
data.isna().sum()

ID                         0
var3                       0
var15                      0
imp_ent_var16_ult1         0
imp_op_var39_comer_ult1    0
                          ..
saldo_medio_var44_hace3    0
saldo_medio_var44_ult1     0
saldo_medio_var44_ult3     0
var38                      0
TARGET                     0
Length: 371, dtype: int64

In [5]:
data.shape

(76020, 371)

In [6]:
sat = data['TARGET']
sat.unique()

array([0, 1], dtype=int64)

In [7]:
data = data.drop('ID', axis = 1)
data.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [8]:
data.shape

(76020, 370)

In [9]:
colunas = data.columns[0:369].tolist()

In [10]:
array = data.values

In [11]:
type(array)

numpy.ndarray

In [12]:
array

array([[2.00000000e+00, 2.30000000e+01, 0.00000000e+00, ...,
        0.00000000e+00, 3.92051700e+04, 0.00000000e+00],
       [2.00000000e+00, 3.40000000e+01, 0.00000000e+00, ...,
        0.00000000e+00, 4.92780300e+04, 0.00000000e+00],
       [2.00000000e+00, 2.30000000e+01, 0.00000000e+00, ...,
        0.00000000e+00, 6.73337700e+04, 0.00000000e+00],
       ...,
       [2.00000000e+00, 2.30000000e+01, 0.00000000e+00, ...,
        0.00000000e+00, 7.40281500e+04, 0.00000000e+00],
       [2.00000000e+00, 2.50000000e+01, 0.00000000e+00, ...,
        0.00000000e+00, 8.42781600e+04, 0.00000000e+00],
       [2.00000000e+00, 4.60000000e+01, 0.00000000e+00, ...,
        0.00000000e+00, 1.17310979e+05, 0.00000000e+00]])

In [13]:
x = array[:, 0:369]
y = data['TARGET']

In [14]:
#normalizando os dados
scaler = MinMaxScaler(feature_range = (0, 1))
rescaledX = scaler.fit_transform(x)

In [15]:
norm = pd.DataFrame(rescaledX, columns = colunas)

In [16]:
norm.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,0.999764,0.18,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.001545
1,0.999764,0.29,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002003
2,0.999764,0.18,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002822
3,0.999764,0.32,0.0,0.01513,0.009275,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.002671
4,0.999764,0.34,0.0,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005091

In [17]:
norm.shape

(76020, 369)

In [18]:
#PCA para reduzir a dimensionalidade
pca = PCA(n_components = 30) 
data = pca.fit_transform(norm)

In [19]:
data.shape

(76020, 30)

In [20]:
data = pd.DataFrame(data)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-1.274542,0.375972,0.056829,-0.439875,-0.039916,-0.114012,-0.054436,-0.033986,-0.000646,-0.010634,...,0.018053,-0.024860,-0.006067,0.001798,-0.007291,0.010016,-0.005148,0.003657,0.007139,-0.001377
1,-0.108038,-0.048862,1.799190,0.203618,-1.327840,0.274607,-0.164000,-0.164823,-0.081474,-0.063830,...,-0.319753,-0.003157,0.044332,0.056909,0.159439,-0.504882,0.047621,-0.008889,0.002495,-0.061258
2,0.027935,-0.439468,-0.335930,-0.187874,-0.066789,0.081755,0.507333,0.414996,-0.005015,-0.008462,...,-0.009034,0.007580,-0.040357,-0.002682,0.011075,-0.002493,0.029984,-0.005791,-0.002755,0.001037
3,1.427146,1.492291,-0.688243,0.024221,-0.671363,-0.843693,0.315254,-0.564295,-0.147847,-0.076420,...,0.042550,-0.024842,-0.007111,0.037683,0.060107,0.012919,-0.002227,0.009852,0.023840,0.053126
4,0.426464,0.122872,1.311621,0.190963,1.681094,-0.904324,-0.185651,0.363184,0.333842,-0.352784,...,-0.313539,-0.216911,-0.019961,-0.105300,-0.035171,-0.034815,0.123021,-0.030543,-0.023964,-0.146078

In [23]:
#Concatetando a variavel TARGET ao Dataframe
data = pd.concat([data, y], axis=1)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,TARGET
0,-1.274542,0.375972,0.056829,-0.439875,-0.039916,-0.114012,-0.054436,-0.033986,-0.000646,-0.010634,...,-0.024860,-0.006067,0.001798,-0.007291,0.010016,-0.005148,0.003657,0.007139,-0.001377,0
1,-0.108038,-0.048862,1.799190,0.203618,-1.327840,0.274607,-0.164000,-0.164823,-0.081474,-0.063830,...,-0.003157,0.044332,0.056909,0.159439,-0.504882,0.047621,-0.008889,0.002495,-0.061258,0
2,0.027935,-0.439468,-0.335930,-0.187874,-0.066789,0.081755,0.507333,0.414996,-0.005015,-0.008462,...,0.007580,-0.040357,-0.002682,0.011075,-0.002493,0.029984,-0.005791,-0.002755,0.001037,0
3,1.427146,1.492291,-0.688243,0.024221,-0.671363,-0.843693,0.315254,-0.564295,-0.147847,-0.076420,...,-0.024842,-0.007111,0.037683,0.060107,0.012919,-0.002227,0.009852,0.023840,0.053126,0
4,0.426464,0.122872,1.311621,0.190963,1.681094,-0.904324,-0.185651,0.363184,0.333842,-0.352784,...,-0.216911,-0.019961,-0.105300,-0.035171,-0.034815,0.123021,-0.030543,-0.023964,-0.146078,0

Modelo

In [25]:
#treinando o modelo
treino = data.sample(frac=0.60, random_state=0)
teste = data.drop(treino.index)

In [26]:
xtreino = treino.iloc[:,0:30]
ytreino = treino.iloc[:,30:31]
xteste = teste.iloc[:,0:30]
yteste = teste.iloc[:,30:31]

In [28]:
treino.count

<bound method DataFrame.count of               0         1         2         3         4         5         6  \
36443  0.460142 -0.519352 -0.117139 -0.159966  0.044428  0.162169 -0.050776
17577 -1.274543  0.375972  0.056830 -0.439875 -0.039916 -0.114013 -0.054437
28097  0.801275 -0.456629  1.510659  0.250605 -1.199023  0.070890 -0.490024
34967  0.028104 -0.439124 -0.335085 -0.187651 -0.066826  0.081407  0.507129
50314  0.861049 -0.287495  1.082583  0.213106  1.580303 -0.914071  0.240337
...         ...       ...       ...       ...       ...       ...       ...
6057   0.460143 -0.519352 -0.117139 -0.159966  0.044428  0.162170 -0.050776
5243  -0.227590 -0.456430 -0.686256  1.168316 -0.102552  0.045299  0.514664
61452 -1.549361  0.354111 -0.326763  1.050084 -0.081904 -0.150898 -0.039331
11120  0.309981 -0.435340 -0.112764 -0.031278  0.047683  0.150611 -0.105383
53730  0.708876 -0.562029  2.063434  0.389856 -1.352995  0.102868  0.398963

              7         8         9  ...        21        22        23  \
36443 -0.216290  0.011384 -0.001936  ... -0.032719  0.011726  0.013199
17577 -0.033985 -0.000647 -0.010631  ... -0.024860 -0.006070  0.001795
28097  0.764171 -0.328992  0.141193  ... -0.088494  1.164027 -0.312597
34967  0.415029 -0.004985 -0.007991  ...  0.010529 -0.038909 -0.002363
50314  0.323454 -0.438777  0.136813  ...  0.066906 -0.028442  0.047236
...         ...       ...       ...  ...       ...       ...       ...
6057  -0.216290  0.011385 -0.001936  ... -0.032719  0.011728  0.013199
5243   0.460885  0.025482 -0.016532  ... -0.020970  0.008556 -0.004665
61452  0.037097  0.016842 -0.033701  ...  0.000090 -0.002733  0.002347
11120 -0.227503 -0.041978 -0.001507  ... -0.028820 -0.025343  0.008862
53730  0.151336  0.028249 -0.153804  ... -0.190875 -0.314979 -0.106669

             24        25        26        27        28        29  TARGET
36443 -0.020654  0.003058  0.007624 -0.001700  0.000167 -0.009067       0
17577 -0.007292  0.010021 -0.005146  0.003656  0.007138 -0.001379       0
28097  0.013653  0.215868 -0.007101  0.007228  0.007484  0.004429       0
34967  0.010753 -0.003228  0.028622 -0.005720 -0.003488  0.000658       0
50314 -0.051426 -0.026753 -0.099268  0.007158 -0.032269 -0.113681       0
...         ...       ...       ...       ...       ...       ...     ...
6057  -0.020654  0.003057  0.007622 -0.001700  0.000167 -0.009066       0
5243   0.012801  0.003865  0.024384 -0.003377  0.001120  0.000496       0
61452  0.006471  0.008385 -0.008997  0.001522  0.004855  0.000443       0
11120 -0.002102 -0.000691  0.034623 -0.005733  0.008185 -0.003196       0
53730 -0.232021  0.686619  0.023077 -0.008071  0.013265 -0.004556       0

[45612 rows x 31 columns]>

In [29]:
teste.count

<bound method DataFrame.count of               0         1         2         3         4         5         6  \
2      0.027935 -0.439468 -0.335930 -0.187874 -0.066789  0.081755  0.507333
7      0.310483 -0.434306 -0.110227 -0.030609  0.047570  0.149564 -0.105995
8     -1.270846  0.383547  0.075422 -0.434967 -0.040744 -0.121680 -0.058916
10     1.014821  2.836026 -0.068825  0.021307 -0.009222  0.144271 -0.552731
12     0.053623 -0.422217 -0.273358 -0.313950 -0.061534  0.069939  0.491843
...         ...       ...       ...       ...       ...       ...       ...
76007 -1.218753  0.731076  0.178042 -0.360288  0.172537  0.454215 -0.073531
76008  0.048471 -0.432272 -0.297431 -0.320272 -0.060666  0.079960  0.498008
76012  0.538190 -0.478650 -0.037617 -0.288372  0.054901  0.153952 -0.074113
76013  0.667955 -0.374507 -0.022073 -0.122171  0.200451 -0.050015 -0.644424
76017 -0.106216 -0.347587 -0.295098 -0.193288 -0.058630  0.067681  0.449450

              7         8         9  ...        21        22        23  \
2      0.414996 -0.005015 -0.008462  ...  0.007580 -0.040357 -0.002682
7     -0.227403 -0.041892 -0.000088  ... -0.019973 -0.021006  0.009812
8     -0.033256  0.000001 -0.000258  ...  0.040022  0.025770  0.008808
10    -0.039247 -0.922439  0.078367  ... -0.220227  0.092197  0.224728
12     0.391768  0.009941  0.022494  ...  0.056839  0.053342  0.003945
...         ...       ...       ...  ...       ...       ...       ...
76007  0.033224 -0.170399  0.097988  ... -0.064810 -0.079210  0.131739
76008  0.390367  0.008504  0.009322  ... -0.027501  0.013605 -0.003858
76012 -0.219656  0.036589  0.038628  ...  0.127489  0.053596 -0.061840
76013  0.443814 -0.287811  0.141378  ...  0.113166 -0.082902 -0.094318
76017  0.385103 -0.045226  0.009913  ... -0.024279 -0.023142 -0.007811

             24        25        26        27        28        29  TARGET
2      0.011075 -0.002493  0.029984 -0.005791 -0.002755  0.001037       0
7     -0.003067 -0.002886  0.030542 -0.005521  0.005987 -0.004340       0
8     -0.014365 -0.006134 -0.035092  0.005216 -0.008974 -0.009736       0
10    -0.014897  0.056220 -0.142869  0.040618 -0.072735  0.032878       0
12    -0.008687 -0.019360 -0.018348  0.001708 -0.020277  0.004821       0
...         ...       ...       ...       ...       ...       ...     ...
76007 -0.018938 -0.080236  0.141321 -0.130961 -0.073607 -0.049063       1
76008 -0.001841  0.001171  0.019984 -0.000700 -0.000524  0.002749       0
76012  0.085376  0.014561 -0.064055  0.026266  0.001532  0.039887       0
76013  0.158720  0.027126 -0.003426 -0.010589  0.006115  0.018261       0
76017  0.015846 -0.002677  0.047196 -0.004840  0.007016  0.002324       0

[30408 rows x 31 columns]>

In [33]:
#aplicando o mÃ©todo random forest
classificador = RandomForestClassifier(max_depth=5, random_state=0)
classificador.fit(xtreino, ytreino)
ypred = classificador.predict(xteste)

C:\Users\sidal\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [34]:
#verificando a acurÃ¡cia do modelo
acc = accuracy_score(yteste,ypred)
acc

0.9607340173638517

In [35]:
#matriz de confusÃ£o
conf = confusion_matrix(yteste, ypred)
conf

array([[29214,     0],
       [ 1194,     0]], dtype=int64)

In [36]:
from sklearn.metrics import classification_report
print(classification_report(yteste, ypred))

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     29214
           1       0.00      0.00      0.00      1194

    accuracy                           0.96     30408
   macro avg       0.48      0.50      0.49     30408
weighted avg       0.92      0.96      0.94     30408

C:\Users\sidal\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\sidal\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\sidal\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))